.nav-logo {
  width: 20%;
}

.art-img {
  width: 200px;
  height: 200px;
}

#scraper {
  float: right;
  position: relative;
  bottom: 30px;
  right: 100px;
}

#saved {
  float: right;
  position: relative;
  bottom: 30px;
  left: 150px;
}

.ringer-button {
  padding: 10px;
  background-color: rgb(106,194,135);
  color: white; 
}

#ringer-nav {
  background-color: black;
}

.comm-div {
  position: fixed;
  top: 50%;
  right: 10px;
  width: 10%;
  height: auto;
}

.comment-form {
}

.hide {
  display: none;
}