.nav-logo {
  width: 20%;
}

.art-img {
  width: 200px;
  height: 200px;
}

#scraper {
  padding: 10px;
  background-color: rgb(106,194,135);
  color: white; 
  float: right;
  position: relative;
  bottom: 30px;
  right: 100px;
}

#ringer-nav {
  background-color: black;
}